In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('dataset/marketing_sample_for_naukri_com-jobs__20190701_20190830__30k_data.csv')


# Dataset Preparation

### Drop unused columns

In [2]:
df = df.drop(['Uniq Id', 
              'Crawl Timestamp', 
              'Job Salary', 
              'Job Experience Required', 
              'Location', 
              'Functional Area', 
              'Industry'], axis=1)


### Drop rows which are not the "Programming & Design" category
note that, "category" = "role" in dataset

In [3]:
df = df.drop(df[(df['Role Category'] != 'Programming & Design')].index)

### After that, drop "Role Category" column
df = df.drop('Role Category', axis=1)
df = df.dropna()


### Trim and split Job Title, Key Skills

In [4]:
df['Job Title'] = df['Job Title'].str.strip()
df['Key Skills'] = df['Key Skills'].str.strip()
df['Key Skills'] = df['Key Skills'].str.split("|")

In [5]:
### Display all categories
df['Role'].unique()

array(['Testing Engineer', 'System Analyst', 'Technical Architect',
       'Software Developer', 'Graphic/Web Designer', 'Project Lead',
       'Team Lead/Technical Lead', 'Release Manager', 'Product Manager',
       'Database Architect/Designer'], dtype=object)

In [6]:
### reset dataframe index after everything done
df = df.reset_index(drop=True)

df.head()

,Job Title,Key Skills,Role
0,Software Test Engineer -hyderabad,"[manual testing, test engineering, test case...",Testing Engineer
1,Opening For Adobe Analytics Specialist,"[adobe experience manager, digital, digital ...",System Analyst
2,Opportunity For Azure Devops Architect For Hyd...,"[TFS, Azure, Git, VSTS, Docker, DynaTrace...",Technical Architect
3,Oracle IDAM,"[Oracle IDAM, OIM, OAM]",Software Developer
4,Magento Developer,"[Copyright, Email, jQuery, XML, Javascript...",Software Developer


## Initial values

In [158]:
roles = ['Testing Engineer',
         'System Analyst',
         'Technical Architect',
         'Software Developer',
         'Graphic/Web Designer',
         'Project Lead',
         'Team Lead/Technical Lead',
#          'Release Manager',
         'Product Manager',
         'Database Architect/Designer']

categories = ['Data', 
              'Developer', 
              'Tester', 
              'Designer', 
              'Manager', 
              'Analyst']

Data = ['Data Engineer',
        'Data Scientist',
        'Data Architect',
        'Data Analyst',
        'Database Administrator',
        'Machine Learning']

Developer = ['Software Engineer',
             'Devops',
             'Backend',
             'Frontend',
             'Full stack',
             'iOS',
             'Android']

Tester = ['Software Tester',
          'Quality Assurance Engineer']

Designer = ['UX/UI Designer',
            'Graphic Designer']

Manager = ['Product Owner',
           'Project Manager']

Analyst = ['System Analyst',
           'Business Analyst']

forbidden_skills = ['development',
                    'design',
                    'web',
                    'css3',
                    'html5',
                    'operations',
                    'management',
                    'project leader',
                    'architect',
                    'architecture',
                    'testing',
                    'software',
                    'tools',
                    'quality',
                    'support',
                    'application',
                    'applications',
                    'developer',
                    'technical',
                    'automation',
                    'graphics',
                    'phd',
                    'email',
                    'apple',
                    'research',
                    'iphone',
                    'ipad']

## Extract Key Skills function
count skills by given set of "Key Skills" in job's dataframe

In [159]:
#
##
### input like this -> extractSkill(dataframe['Key Skills'])
##
#

def extractSkill(df):

    # ### trim each Key Skill in each Title
    vowel = []
    for x in df:
        for i in range(len(x)):
            vowel.append(x[i].strip().lower())

    ### Counting elements
    elements_count = {}
    # iterating over the elements for frequency
    for element in vowel:
        # checking whether it is in the dict or not
        if element in elements_count:
            # incerementing the count by 1
            elements_count[element] += 1
        else:
            # setting the count to 1
            elements_count[element] = 1
        
    elements_count = dict(sorted(elements_count.items(), key=lambda item: item[1], reverse=True))

#     # printing the elements frequencies
#     for key, value in elements_count.items():
#         print(f"{key}: {value}")
        
    return elements_count

## Replace and Remove Skills function
input: dataframe with "skill" and "sum" columns

In [160]:
def cleanSkillKeywords(df):
    df = df.drop(df[(df['sum'] == 1)].index)
    
    df.loc[(df['skill'] == "Programming"), "skill"] = "coding"
    
    df.loc[(df['skill'] == "test automation"), "skill"] = "automation testing"
    
    df.loc[(df['skill'] == "data scientist"), "skill"] = "data science"
    
    df.loc[(df['skill'] == "asp") | 
           (df['skill'] == ".net") | 
           (df['skill'] == "asp.net mvc"), "skill"] = "asp.net"
    
    df.loc[(df['skill'] == "natural language processing"), "skill"] = "nlp"
    
    df.loc[(df['skill'] == "advanced analytics") | 
           (df['skill'] == "analytical") | 
           (df['skill'] == "analyst"), "skill"] = "analytics"
    
    df.loc[(df['skill'] == "front end") | (df['skill'] == "frontend"), "skill"] = "frontend development"
    
    df.loc[(df['skill'] == "backend"), "skill"] = "backend development"

    
    df.loc[(df['skill'] == "web technologies") | 
           (df['skill'] == "web application development") | 
           (df['skill'] == "web application"), "skill"] = "web development"
    
    df.loc[(df['skill'] == "ios"), "skill"] = "ios development"
    
    df.loc[(df['skill'] == "android") | 
           (df['skill'] == "android application development") | 
           (df['skill'] == "android application"), "skill"] = "android development"
    
    df.loc[(df['skill'] == "mobile") | 
           (df['skill'] == "mobile application") | 
           (df['skill'] == "mobile development") | 
           (df['skill'] == "mobile applications"), "skill"] = "mobile application development"
    
    df.loc[(df['skill'] == "user interface designing") | 
           (df['skill'] == "ui") | 
           (df['skill'] == "ui designer") | 
           (df['skill'] == "user interface") |
           (df['skill'] == "user interface designer"), "skill"] = "ui designing"
    
    df.loc[(df['skill'] == "ux designer") | 
           (df['skill'] == "ux") | 
           (df['skill'] == "user experience"), "skill"] = "ux designing"
    
    df.loc[(df['skill'] == "graphic designer"), "skill"] = "graphic designing"
    
    df.loc[(df['skill'] == "product manager"), "skill"] = "product management"
        
    df.loc[(df['skill'] == "project manager") |            
           (df['skill'] == "it project management"), "skill"] = "project management"
    
    df.loc[(df['skill'] == "agile scrum"), "skill"] = "scrum"
        
    df.loc[(df['skill'] == "agile development"), "skill"] = "agile"
    
    df.loc[(df['skill'] == "system analyst"), "skill"] = "system analysis"
    
    df.loc[(df['skill'] == "business analyst"), "skill"] = "business analysis"
    
    df.loc[(df['skill'] == "it"), "skill"] = "information technology"
    
    df.loc[(df['skill'] == "monitoring"), "skill"] = "monitoring tools"
    
    df = df[~df['skill'].isin(forbidden_skills)]
    
    df = df.groupby('skill')['sum'].agg(['sum']).sort_values(by=['sum'], ascending=False).reset_index() 
    
    return df

## Match between Jobs function
method: set or sort<br>
percent: integer (0 -> 100)

In [161]:
from fuzzywuzzy import fuzz

def matchJobs(title, method, percent):
    
    def get_ratio_token_set(df):
        df_column = df['Job Title']
        return fuzz.token_set_ratio(title, df_column)
    
    def get_ratio_token_sort(df):
        df_column = df['Job Title']
        return fuzz.token_sort_ratio(title, df_column)

    if method == "set":
        match_data = df[df.apply(get_ratio_token_set, axis=1) >= percent]
    elif method == "sort":
        match_data = df[df.apply(get_ratio_token_sort, axis=1) >= percent]
        
    return match_data


# Job Skills

In [162]:
df_match = matchJobs(title="Backend", method="set", percent=90)
list_match = extractSkill(df_match['Key Skills'])
df_recommend = pd.DataFrame(list_match.items(), columns = ['skill', 'sum'])
df_recommend = cleanSkillKeywords(df_recommend)

with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(df_recommend)

                       skill  sum
0                       java   25
1        backend development   22
2                     python   22
3                 javascript   21
4                      mysql   20
5                      nosql   18
6                    mongodb   15
7                        sql   14
8                    node.js   13
9            web development   12
10           data structures   11
11                      html   10
12                    django   10
13                     linux    9
14                      j2ee    9
15                     rdbms    8
16                       git    8
17                       php    8
18                    docker    7
19      frontend development    7
20                     agile    7
21                    coding    7
22                postgresql    7
23                      ruby    7
24                algorithms    7
25                       c++    7
26       distribution system    6
27                     redis    6
28                    jquery    6
29                       css    6
30          computer science    6
31                       aws    6
32                         c    6
33                     maven    5
34                      rest    5
35           design patterns    5
36              web services    5
37                       api    5
38                      json    5
39      software engineering    5
40                 hibernate    5
41                      ajax    4
42                 cassandra    4
43                        c#    4
44                      http    4
45                      oops    4
46               programming    4
47            data structure    4
48                    spring    3
49                deployment    3
50                    oracle    3
51                       orm    3
52                   asp.net    3
53                       mvc    3
54                  rabbitmq    3
55                  react.js    3
56             microservices    3
57               open source    3
58                     scala    3
59             data modeling    3
60                 algorithm    3
61           database design    3
62                  database    3
63                 core java    3
64           version control    3
65                    hadoop    3
66                        go    3
67                   service    2
68               webservices    2
69               scalability    2
70                      unix    2
71              unit testing    2
72               server side    2
73               spring boot    2
74                       soa    2
75             ruby on rails    2
76   test driven development    2
77       technical architect    2
78      software development    2
79                       svn    2
80                    struts    2
81                 angularjs    2
82                     spark    2
83          spring framework    2
84                 debugging    2
85                    apache    2
86                   jenkins    2
87        design development    2
88                    devops    2
89       distributed systems    2
90            elastic search    2
91                  ember.js    2
92              data science    2
93            infrastructure    2
94                 couchbase    2
95                      jdbc    2
96                       jms    2
97   application development    2
98                     junit    2
99                   laravel    2
100                      cms    2
101                    cloud    2
102           multithreading    2
103               networking    2
104       performance tuning    2
105                bootstrap    2
106                 postgres    2
107                      xml    2

### Init priority for each skill

In [229]:
def getJobsPriority(df):
    mean = df['sum'].mean()

    df.loc[(df['sum'] >= mean), "priority"] = "High"
    df.loc[(df['sum'] <= mean), "priority"] = "Normal"
    
    return df

### Every jobs skillset

In [230]:
df_all_job_skill = pd.DataFrame(columns = ['skill'])

for category in categories:
    for job in eval(category):

        df_match = matchJobs(title=job, method="set", percent=90)
        
        list_match = extractSkill(df_match['Key Skills'])
        df_recommend = pd.DataFrame(list_match.items(), columns = ['skill', 'sum']) 
        df_recommend = cleanSkillKeywords(df_recommend)
        
        df_recommend = df_recommend.head(10)
        
        df_recommend = getJobsPriority(df_recommend)

        ### push to all skill dataframe for export
        df_all_job_skill = df_all_job_skill.append(df_recommend)
        
# with pd.option_context('display.max_rows', None, 'display.max_columns', None):
#     display(df_all_job_skill)

#         job_path = job.replace("/", ":")
#         df_recommend.to_csv('exports/jobskill/' + category + '_' + job_path + '.csv', index=True)


# Category Skill

In [232]:
df_all_category_skill = pd.DataFrame(columns = ['skill'])
df_category_skill = pd.DataFrame(columns = ['skill', 'sum'])

for category in categories:
    for job in eval(category):
    
        df_match = matchJobs(title=job, method="set", percent=90)

        list_match = extractSkill(df_match['Key Skills'])
        df_cat = pd.DataFrame(list_match.items(), columns = ['skill', 'sum']) 
        df_cat = df_cat.drop(df_cat[(df_cat['sum'] == 1)].index)
        df_cat = cleanSkillKeywords(df_cat)
        df_cat = df_cat.groupby('skill')['sum'].agg(['sum']).reset_index() 
        df_category_skill = df_category_skill.append(df_cat)

    df_category_skill = df_category_skill.groupby('skill')['sum'].agg(['sum','count']).sort_values(by=['count', 'sum'], ascending=False).reset_index()
    df_category_skill = df_category_skill.drop(df_category_skill[(df_category_skill['count'] == 1)].index)
    df_category_skill = df_category_skill.head(6)
    
    df_category_skill.loc[test_data.index[:], 'title'] = category
    
    ### push to all skill dataframe for export
    df_all_category_skill = df_all_category_skill.append(df_category_skill)
    
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(df_all_category_skill)

              skill    sum  count      title
0            python   70.0    5.0       Data
1               sql   40.0    5.0       Data
2              java   25.0    5.0       Data
3  computer science   16.0    5.0       Data
4  machine learning   46.0    4.0       Data
5         analytics   32.0    4.0       Data
0              java  311.0    8.0  Developer
1               sql  238.0    8.0  Developer
2        javascript  398.0    7.0  Developer
3            python  306.0    7.0  Developer
4  computer science  175.0    7.0  Developer
5             mysql  175.0    7.0  Developer
0              java  316.0    3.0     Tester
1            python  312.0    3.0     Tester
2        javascript  401.0    2.0     Tester
3               sql  240.0    2.0     Tester
4  computer science  180.0    2.0     Tester
5          selenium   14.0    2.0     Tester
0        javascript  426.0    3.0   Designer
1               sql  246.0    3.0   Designer
2            python  317.0    2.0   Designer
3         photoshop   39.0    2.0   Designer
4       illustrator   34.0    2.0   Designer
5              html   28.0    2.0   Designer
0        javascript  435.0    2.0    Manager
1               sql  254.0    2.0    Manager
2              html   35.0    2.0    Manager
3             agile   12.0    2.0    Manager
4         analytics    8.0    2.0    Manager
5  monitoring tools    5.0    2.0    Manager
0               sql  259.0    3.0    Analyst
1              html   41.0    3.0    Analyst
2         analytics   16.0    3.0    Analyst
3        javascript  438.0    2.0    Analyst
4           asp.net    8.0    2.0    Analyst
5   system analysis    8.0    2.0    Analyst

# Prepare for importing to database
### step-by-step

---

# 1. Import Skill

## 1.1 Export all skills to .csv

In [233]:
df_all_skill = pd.concat([df_all_category_skill, df_all_job_skill], axis=0)

In [234]:
df_export = df_all_skill.drop(['sum', 'count', 'priority', 'title'], axis=1).drop_duplicates().reset_index(drop=True)

# df_export.to_csv('exports/all_skill.csv', index=False)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(df_export)

                              skill
0                            python
1                               sql
2                              java
3                  computer science
4                  machine learning
5                         analytics
6                        javascript
7                             mysql
8                          selenium
9                         photoshop
10                      illustrator
11                             html
12                            agile
13                 monitoring tools
14                          asp.net
15                  system analysis
16                         big data
17                            spark
18                            scala
19                    data modeling
20                     data science
21                              nlp
22                              c++
23                      data mining
24                       algorithms
25                    deep learning
26                                r
27                            rdbms
28                           oracle
29                 data warehousing
30                              etl
31                             perl
32           information technology
33                     data analyst
34                  troubleshooting
35                          tableau
36                stored procedures
37                   infrastructure
38                       networking
39                            basic
40          database administration
41                            linux
42               network operations
43                       oracle dba
44               performance tuning
45                           redhat
46                  computer vision
47             software engineering
48                           devops
49                          jenkins
50                              aws
51                           docker
52                              git
53                          ansible
54                           puppet
55                            cloud
56              backend development
57                            nosql
58                          mongodb
59                          node.js
60                  web development
61             frontend development
62                           jquery
63                              css
64                         react.js
65                        bootstrap
66                        angularjs
67                     ui designing
68                  ios development
69                            swift
70                      objective c
71   mobile application development
72                             json
73                              xml
74                                c
75                            xcode
76                              sdk
77              android development
78                      android sdk
79                           sqlite
80                   manual testing
81                       test cases
82                 software testing
83               automation testing
84               functional testing
85                               qa
86       software quality assurance
87              performance testing
88               regression testing
89                           coding
90                     ux designing
91                    web designing
92                graphic designing
93                       corel draw
94                         indesign
95                            scrum
96               product management
97                             jira
98                      action plan
99                          billing
100              design development
101              project management
102                             mvc
103               assembly language
104               business analysis
105                             uat

## 1.2 Use Postman for import .csv file to our database
#### route -> api/skill/create

## 1.3 Export created data from mongodb to .csv

---

# 2. Import Category

In [235]:
df_skill_with_id = pd.read_csv('exports/skill_with_id.csv')
df_skill_with_id = df_skill_with_id.rename(columns={'title': 'skill'})
# df_skill_with_id.to_json('temp.json', orient='records')

In [265]:
expected_data = pd.read_json('example_cate.json')
expected_data

        title                                  skillset
0  testdatadd  {'skill_id': '600686c58ef6711a27b6795d'}
1  testdatadd  {'skill_id': '600686c58ef6711a27b6795e'}
2  testdatadd  {'skill_id': '600686c58ef6711a27b6795a'}

In [269]:
df_all_category_skill_new = df_all_category_skill.drop(['sum', 'count'], axis=1).reset_index(drop=True)

In [270]:
df_merge_category_skill = pd.merge(df_all_category_skill_new, df_skill_with_id, on='skill').sort_values(by=['title', 'skill'], ascending=False).reset_index(drop=True)
df_merge_category_skill = df_merge_category_skill.drop(['skill'], axis=1).rename(columns={'_id': 'skillset'})

In [ ]:
cols = df.columns.difference(['document_id','title'])
j = (df.groupby(['document_id','title'])[cols]
       .apply(lambda x: x.to_dict('r'))
       .reset_index(name='topics')
       .to_json(orient='records'))

In [282]:
cols = df_merge_category_skill.columns.difference(['title'])
j = df_merge_category_skill.groupby(['title'])[cols].apply(lambda x: x.to_dict('r')).reset_index(name='skillset').to_json('temp.json', orient='records')

In [283]:
j

In [271]:
df_merge_category_skill.to_json('temp.json', orient='records')

In [272]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(df_merge_category_skill)

        title                  skillset
0      Tester  6009276e971e860d5ea2b342
1      Tester  60092771971e860d5ea2b38e
2      Tester  6009276e971e860d5ea2b341
3      Tester  60092770971e860d5ea2b367
4      Tester  6009276e971e860d5ea2b344
5      Tester  60092770971e860d5ea2b368
6     Manager  6009276e971e860d5ea2b342
7     Manager  6009276f971e860d5ea2b35c
8     Manager  60092770971e860d5ea2b367
9     Manager  60092770971e860d5ea2b37d
10    Manager  6009276e971e860d5ea2b345
11    Manager  60092770971e860d5ea2b369
12  Developer  6009276e971e860d5ea2b342
13  Developer  6009276e971e860d5ea2b341
14  Developer  6009276e971e860d5ea2b346
15  Developer  60092770971e860d5ea2b367
16  Developer  6009276e971e860d5ea2b344
17  Developer  60092770971e860d5ea2b368
18   Designer  6009276e971e860d5ea2b342
19   Designer  6009276e971e860d5ea2b341
20   Designer  60092771971e860d5ea2b399
21   Designer  60092770971e860d5ea2b367
22   Designer  60092772971e860d5ea2b39a
23   Designer  60092770971e860d5ea2b37d
24       Data  6009276e971e860d5ea2b342
25       Data  6009276e971e860d5ea2b341
26       Data  6009276e971e860d5ea2b349
27       Data  6009276e971e860d5ea2b344
28       Data  60092770971e860d5ea2b368
29       Data  6009276e971e860d5ea2b345
30    Analyst  60092772971e860d5ea2b3a7
31    Analyst  6009276e971e860d5ea2b342
32    Analyst  60092770971e860d5ea2b367
33    Analyst  60092770971e860d5ea2b37d
34    Analyst  60092770971e860d5ea2b36b
35    Analyst  6009276e971e860d5ea2b345